<div class="row">
    <div class="col">
        <a href="{{ path(app.request.pathinfo|split('/')[1] ~ '.index') }}" class="btn btn-primary w-100">Liste</a>
    </div>
    <div class="col">
        <a href="{{ path(app.request.pathinfo|split('/')[1] ~ '.new') }}" class="btn btn-success w-100">Ajouter</a>
    </div>
</div>