<div class="row">
    <div class="col">
        <a href="{{ path('service.index') }}" class="btn btn-primary w-100">Liste des services</a>
    </div>
    <div class="col">
        <a href="{{ path('service.new') }}" class="btn btn-success w-100">Ajouter</a>
    </div>
</div>